.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}