.container__services {
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    
}

.services-cards {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    max-width: 100%;
    display: flex;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.services-cards::-webkit-scrollbar {
    display: none;
}

.services-card__container {
    min-width: 138px;
    padding: 15px;
    box-shadow: 0px 2px 0px black;
    border-radius: 8px;
    border: 2px black solid;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.services-card__container-title {
    flex: 1 1 0;
    color: black;
    font-size: 13px;
    font-family: "Hind", sans-serif;
    font-weight: 550;
}